# Environments
backend/venv/
backend/.env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Data & generated local files
pgdata/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.vscode/
.idea/
